.content{
    margin:auto;
    width:80%;
    padding:10px;
    text-align: center;
}

h1, p {
    font-family:"Raleway", sans-serif, cursive;
}

h1{
    font-size:40px;
}

p{
    font-size:20px;
}

button{
    background-color:#FFF;
    border:1px black;
    height:30px;
    font-size:18px;
}